#game-container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.player-container {
  width: 40%;
  text-align: center;
}

#dealer-cards img {
  margin-right: -70px;
}

#dealer-cards img:last-child {
  margin-right: 0;
}

#player-cards img {
  margin-right: -70px;
}

#player-cards img:last-child {
  margin-right: 0;
}

#hit-button {
  margin-top: 30px;
}

#stand-button {
  margin-top: 10px;
}
